<div class="parallax">
  <img src="/assets/img/parallax.jpg" alt="">
</div>
<section class="container">
  <div class="contenedor-box">
    <div class="box-gray-parallax">
      <h2 class="font-bold uppercase">portafolio</h2>
    </div>
  </div>
  <div class="section">
    <div class="works">
      <div class="works-item">
        <div class="effect-box-blue">
          <img src="/assets/img/mercado.jpg" alt="">
        </div>
        <div class="blue-blur"></div>
      </div>
      <div class="works-item">
        <div class="effect-box-blue">
          <img src="/assets/img/mercado.jpg" alt="">
          <div class="blue-blur"></div>
        </div>
      </div>
      <div class="works-item">
        <div class="effect-box-blue">
          <img src="/assets/img/mercado.jpg" alt="">
          <div class="blue-blur"></div>
        </div>
      </div>
      <div class="works-item">
        <div class="effect-box-blue">
          <img src="/assets/img/mercado.jpg" alt="">
          <div class="blue-blur"></div>
        </div>
      </div>
      <div class="works-item">
        <div class="effect-box-blue">
          <img src="/assets/img/mercado.jpg" alt="">
          <div class="blue-blur"></div>
        </div>
      </div>
    </div>
  </div>
</section>
