<footer>
  <div class="container flex font">
    <div>
      <h3>Oliver Aparicio Martinez</h3>
      <p>Benito Juarez S/N</p>
      <p>Lombardo Toledano</p>
      <p>Salina Cruz, Oaxaca</p>
    </div>
    <div>
      <h3>
        <a href="" class="social-footer"><span><i class="fa fa-facebook" aria-hidden="true"></i></span></a>
        <a href="" class="social-footer"><span><i class="fa fa-twitter" aria-hidden="true"></i></span></a>
        <a href="" class="social-footer"><span><i class="fa fa-github" aria-hidden="true"></i></span></a>
        <a href="" class="social-footer"><span><i class="fa fa-linkedin" aria-hidden="true"></i></span></a>
      </h3>
      <h3 class="margin-top-medium">© 2017 OAM, ALL RIGHTS RESERVED</h3>
    </div>
    <div>
      <h3>CONTACT INFO</h3>
      <p>Tel: 9717028617</p>
      <p>Email: olivermtz35@gmail.com</p>
    </div>
  </div>
</footer>
