footer{
  position: relative;
  width: 100vw;
  height: 300px;
  background-color: #f4f4f4;
}
.flex{
  display: flex;
  height: 100%;
  align-items: center;
}
.flex > div:nth-child(2){
  flex-grow: 1;
  text-align: center;
}
h3{
  margin-bottom: 10px;
}
footer .margin-top-medium{
  color: #787878;
}
p{
  color: #787878;
  margin-bottom: -5px;
}
