<header class="container">
  <a [routerLink]="['/home']"><h3 class="font-bold">OAM</h3></a>
  <i class="icon-menu" (click)="openMenu()"><img src="assets/icon/menu.png" alt=""></i>
</header>
<div class="menu">
  <p (click)="closeMenu()" class="close-icon">X</p>
  <nav class="margin-top">
    <ul>
      <a [routerLink]="['/home']" (click)="closeMenu()"><li class="font uppercase">inicio</li></a>
      <a [routerLink]="['/about']" (click)="closeMenu()"><li class="font uppercase">acerca de</li></a>
      <a [routerLink]="['/portfolio']" (click)="closeMenu()"><li class="font uppercase">portafolio</li></a>
      <li class="font uppercase">blog</li>
      <li class="font uppercase">contacto</li>
    </ul>
  </nav>
  <div class="menu-footer">
    <h4>
      <a href="" class="social-footer"><span><i class="fa fa-facebook" aria-hidden="true"></i></span></a>
      <a href="" class="social-footer"><span><i class="fa fa-twitter" aria-hidden="true"></i></span></a>
      <a href="" class="social-footer"><span><i class="fa fa-github" aria-hidden="true"></i></span></a>
      <a href="" class="social-footer"><span><i class="fa fa-linkedin" aria-hidden="true"></i></span></a>
    </h4>
    <h4 class="font">Tel: 971 702 8617</h4>
    <h4 class="font">Email: olivermtz35@gmail.com</h4>
  </div>
</div>
