section{
  min-height: 100vh;
}
.slider{
  height: 600px;
  overflow: hidden;
}
.slider img{
  position: absolute;
  width: 120%;
  left: -10%;
  top: -20%;
  animation: image-zoom 30s linear infinite;
}
@keyframes image-zoom{
  50%{
    transform: scale(1.1)
                rotate(5deg);

  }
}
.text-slider{
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 2.5em;
  letter-spacing: 8px;
}
.txt-blue{
  font-weight: 100;
  padding: .3em;
  background-color: #7beec7;
}
.txt-move{
  width: 0px;
  height: 50px;
  position: relative;
  font-weight: lighter;
  font-size: .8em;
  border-right: 1px solid black;
  overflow: hidden;
  animation: showText 3s linear infinite;
}
.txt-move::before{
  position: absolute;
  top: 15px;
  content: "frontend";
}
@keyframes showText {
  20%, 80%{
    width: 200px;
  }
}
.bio{
  display: flex;
}
.bio-text{
  height: 500px;
  width: calc(100% - 500px);
  padding: 0 5% 0 0;
}
.slider-mini{
  width: 500px;
  height: 500px;
  background-image: url('/assets/img/perfil.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.how-work, .contact{
  width: 100%;
  position: relative;
  display: flex;
  min-height: 400px;
}
.how-work > div{
  flex-grow: 1;
  padding-right: 5%;
}
.how-work img{
  width: 40px;
}
.contact{
  min-height: 450px;
}
.contact > div{
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 5% 0 5%;
}
.contact > div:nth-child(1){
  background-color: #7beec7;
}
.contact > div:nth-child(2){
  background-image: url('/assets/img/laptop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.contact h2{
  font-size: 1.8em;
  font-weight: lighter;
}
.mail{
  position: absolute;
  width: 80%;
  left: 10%;
  height: 70%;
  top: 15%;
  background-color: white;
}
